body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que el logo esté alineado a la izquierda */
}

/* Logo alineado a la izquierda */
.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

/* Sección de inicio de sesión */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #555;
}

.login-form p {
    margin-top: 20px;
}

.login-form a {
    color: #333;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
